# Disable wake for mouse; link this in:
# sudo ln -s $PWD/50-wake-on-device.rules /etc/udev/rules.d/
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c539", ATTR{power/wakeup}="disabled", ATTR{driver/1-3.1/power/wakeup}="disabled"
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c090", ATTR{power/wakeup}="disabled", ATTR{driver/1-3.1/power/wakeup}="disabled"
