[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "keebs/qmk_firmware"]
	path = keebs/qmk_firmware
	url = git@github.com:LucasPickering/qmk_firmware.git
	branch = master
[submodule "vim/pack/tpope/start/sleuth"]
	path = vim/pack/tpope/start/sleuth
	url = https://tpope.io/vim/sleuth.git
