vim/.netrwhist
# Most of these are plugins
fish/functions/*
fish/conf.d/
fish/completions
!fish/functions/fish_prompt.fish
!fish/functions/fish_title.fish
!fish/functions/custom.fish
!fish/functions/repeat.py
