vim/.netrwhist
.vscode/
# Most of these are plugins
fish/fishfile
fish/completions
fish/conf.d/*
!fish/conf.d/colors.fish
fish/fish_variables
fish/functions/*
!fish/functions/fish_prompt.fish
!fish/functions/fish_title.fish
!fish/functions/custom.fish
!fish/functions/dotenv.fish
!fish/functions/*.py
fish/functions/__bass.py

server/.env
server/vpn/vpn.auth
server/plex
*.ovpn
*.crt
*.pem
jira/cookies.js
.DS_Store
secrets/
