vim/.netrwhist
# Most of these are plugins
fish/completions
fish/conf.d/
fish/fish_variables
fish/functions/*
!fish/functions/fish_prompt.fish
!fish/functions/fish_title.fish
!fish/functions/custom.fish
!fish/functions/repeat.py
