[submodule "bash/git-aware-prompt"]
	path = bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/tpope/start/sleuth"]
	path = vim/pack/tpope/start/sleuth
	url = git@github.com:tpope/vim-sleuth.git
